
.logo {
  display: flex;
  align-items: center;

  .logo__text-row {
    display: flex;
    align-items: flex-end;

    .logo__text {
      margin-top: 2px;
      margin-left: 8px;
      margin-right: 4px;
      font-size: 26px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: calc(26px / 100);
    }
    .logo__subtext {
      color: var(--color-gray);
      font-size: 10px;
    }
  }  
}
