.sidebar {
  position: relative;
  padding: 36px clamp(20px, 2.8rem, 28px);
  padding-bottom: 76px;
  width: 306px;
  min-width: 306px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  transition: all 0.5s ease-in-out;

  .sidebar__header {
    margin-bottom: 54px;

    .sidebar__close {
      display: none;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .sidebar__topics-item {
    margin-bottom: 18px;
  }

  .user-tile {
    margin-top: auto;
    display: flex;
    align-items: center;

    .user-tile__info {
      margin-left: 12px;
      display: flex;
      flex-direction: column;

      .user-tile__name {
        font-size: 14px;
      }
      .user-tile__job {
        font-size: 12px;
        font-weight: 400;
        color: var(--color-gray-l);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    min-width: 280px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 1100px) {
  .sidebar {
    position: absolute;
    z-index: 20;
    box-shadow: var(--shadow);
    left: -310px;

    .sidebar__header {
      .sidebar__close {
        display: block;
      }
    }
  }
  .sidebar.opened {
    left: 0;
  }
}
