@font-face {
  font-family: 'Poppins';
  src: url(../../assets/fonts/Poppins-Regular.ttf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url(../../assets/fonts/Poppins-Medium.ttf) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url(../../assets/fonts/Poppins-SemiBold.ttf) format("opentype");
  font-weight: 600;
}
