include ../textField/textField.pug
include ../pagination/pagination.pug

mixin dashboard-card(options) 
  -const {title, subtitle, showOnPage} = options || {};
  .dashboard-card 
    .dashboard-card__header 
      .dashboard-card__header__col
        h2.dashboard-card__title= title 
        p.dashboard-card__subtitle= subtitle 

      +text-field({
        iconPath: 'search.svg',
        placeholder: 'Search',
      })(class="dashboard-card__input")

    block

    .dashboard-card__bottom
      span.dashboard-card__info Showing data 1 to #{showOnPage} of  256K entries
      +pagination({min: 4, max: 40, selected: 1})
