.table-card {
  padding: 30px 0 41px 0;
  background-color: var(--color-white);
  border-radius: 30px;

  .table-card__header {
    margin: 0 38px 40px 38px;

    .table-card__title {
      margin-bottom: 7px;
    }
    .table-card__subtitle {
      color: var(--color-deep-green);
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  color: var(--color-gray-l)
}
th, td {
  padding: 24px;
  text-align: start;
}

tr {
  border: 1px solid var(--color-gray-xl);
  border-width: 0 0 1px 0;

}