.close-icon__wrapper {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in;

  span,
  span::after {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color-black);
    transform-origin: center;
  }

  span {
    transform: rotate(-45deg);
  }

  span::after {
    content: "";
    transform: rotate(90deg);
  }
}

.close-icon:hover {
  opacity: 0.5;
}
