.pagination {
  display: flex;
  align-items: flex-end;

  .pagination__nav {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid var(--color-gray-xl);
  }
  
  .pagination__dots,
  .pagination__nav {
    font-size: 12px;
    margin-left: 14px;
  }

  .pagination__forward > svg {
    transform: rotate(180deg);
  }
}
